In [1]:
# Importing the necessary libraries

import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("datasets/311_Service_Requests_from_2010_to_Present.csv", low_memory=False)

In [3]:
# Shape of the dataset

shape=df.shape

print(f"Number of rows: {shape[0]}")
print(f"Number of cols: {shape[1]}")

Number of rows: 364558
Number of cols: 53

In [4]:
df.head(10)

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location
0,32310363,12/31/2015 11:59:45 PM,01/01/2016 12:55:15 AM,NYPD,New York City Police Department,Noise - Street/Sidewalk,Loud Music/Party,Street/Sidewalk,10034.0,71 VERMILYEA AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.865682,-73.923501,"(40.86568153633767, -73.92350095571744)"
1,32309934,12/31/2015 11:59:44 PM,01/01/2016 01:26:57 AM,NYPD,New York City Police Department,Blocked Driveway,No Access,Street/Sidewalk,11105.0,27-07 23 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.775945,-73.915094,"(40.775945312321085, -73.91509393898605)"
2,32309159,12/31/2015 11:59:29 PM,01/01/2016 04:51:03 AM,NYPD,New York City Police Department,Blocked Driveway,No Access,Street/Sidewalk,10458.0,2897 VALENTINE AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.870325,-73.888525,"(40.870324522111424, -73.88852464418646)"
3,32305098,12/31/2015 11:57:46 PM,01/01/2016 07:43:13 AM,NYPD,New York City Police Department,Illegal Parking,Commercial Overnight Parking,Street/Sidewalk,10461.0,2940 BAISLEY AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.835994,-73.828379,"(40.83599404683083, -73.82837939584206)"
4,32306529,12/31/2015 11:56:58 PM,01/01/2016 03:24:42 AM,NYPD,New York City Police Department,Illegal Parking,Blocked Sidewalk,Street/Sidewalk,11373.0,87-14 57 ROAD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.733060,-73.874170,"(40.733059618956815, -73.87416975810375)"
5,32306554,12/31/2015 11:56:30 PM,01/01/2016 01:50:11 AM,NYPD,New York City Police Department,Illegal Parking,Posted Parking Sign Violation,Street/Sidewalk,11215.0,260 21 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.660823,-73.992568,"(40.66082272389114, -73.99256786342693)"
6,32306559,12/31/2015 11:55:32 PM,01/01/2016 01:53:54 AM,NYPD,New York City Police Department,Illegal Parking,Blocked Hydrant,Street/Sidewalk,10032.0,524 WEST 169 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.840848,-73.937375,"(40.840847591440415, -73.9373750864581)"
7,32307009,12/31/2015 11:54:05 PM,01/01/2016 01:42:54 AM,NYPD,New York City Police Department,Blocked Driveway,No Access,Street/Sidewalk,10457.0,501 EAST 171 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.837503,-73.902905,"(40.83750262540012, -73.90290517326568)"
8,32308581,12/31/2015 11:53:58 PM,01/01/2016 08:27:32 AM,NYPD,New York City Police Department,Illegal Parking,Posted Parking Sign Violation,Street/Sidewalk,11415.0,83-44 LEFFERTS BOULEVARD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.704977,-73.832605,"(40.704977164399935, -73.8326047502584)"
9,32308391,12/31/2015 11:53:58 PM,01/01/2016 01:17:40 AM,NYPD,New York City Police Department,Blocked Driveway,No Access,Street/Sidewalk,11219.0,1408 66 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.623793,-73.999539,"(40.623793065806524, -73.99953890121567)"

In [5]:
# Let's find out the missing values

df.isnull().sum()

Unique Key                             0
Created Date                           0
Closed Date                         2381
Agency                                 0
Agency Name                            0
Complaint Type                         0
Descriptor                          6501
Location Type                        133
Incident Zip                        2998
Incident Address                   51699
Street Name                        51699
Cross Street 1                     57188
Cross Street 2                     57805
Intersection Street 1             313438
Intersection Street 2             314046
Address Type                        3252
City                                2997
Landmark                          364183
Facility Type                       2389
Status                                 0
Due Date                               3
Resolution Description                 0
Resolution Action Updated Date      2402
Community Board                        0
Borough                                0
X Coordinate (State Plane)          4030
Y Coordinate (State Plane)          4030
Park Facility Name                     0
Park Borough                           0
School Name                            0
School Number                          0
School Region                          1
School Code                            1
School Phone Number                    0
School Address                         0
School City                            0
School State                           0
School Zip                             1
School Not Found                       0
School or Citywide Complaint      364558
Vehicle Type                      364558
Taxi Company Borough              364558
Taxi Pick Up Location             364558
Bridge Highway Name               364261
Bridge Highway Direction          364261
Road Ramp                         364296
Bridge Highway Segment            364296
Garage Lot Name                   364558
Ferry Direction                   364557
Ferry Terminal Name               364556
Latitude                            4030
Longitude                           4030
Location                            4030
dtype: int64

In [6]:
# To make it more reliable, let's make a function to return only the columns with missing values

def missing_values_table(df:pd.DataFrame)->pd.DataFrame:
    cols=df.columns.to_list()
    dataframe={
        "col_name":[],
        "num_missing":[],
        "percentage_missing":[],
        "dtype":[]
    }
    for col in cols:
        missing_count=int(df[col].isnull().sum())
        if missing_count!=0:
            dataframe["col_name"].append(col)
            dataframe["num_missing"].append(missing_count)
            dataframe["percentage_missing"].append(round((missing_count/shape[0])*100,2))
            dataframe["dtype"].append(df[col].dtype)
    return pd.DataFrame(data=dataframe)

In [7]:
missing_df=missing_values_table(df)

In [8]:
missing_df

                          col_name  num_missing  percentage_missing    dtype
0                      Closed Date         2381                0.65      str
1                       Descriptor         6501                1.78      str
2                    Location Type          133                0.04      str
3                     Incident Zip         2998                0.82  float64
4                 Incident Address        51699               14.18      str
5                      Street Name        51699               14.18      str
6                   Cross Street 1        57188               15.69      str
7                   Cross Street 2        57805               15.86      str
8            Intersection Street 1       313438               85.98      str
9            Intersection Street 2       314046               86.14      str
10                    Address Type         3252                0.89      str
11                            City         2997                0.82      str
12                        Landmark       364183               99.90      str
13                   Facility Type         2389                0.66      str
14                        Due Date            3                0.00      str
15  Resolution Action Updated Date         2402                0.66      str
16      X Coordinate (State Plane)         4030                1.11  float64
17      Y Coordinate (State Plane)         4030                1.11  float64
18                   School Region            1                0.00      str
19                     School Code            1                0.00      str
20                      School Zip            1                0.00      str
21    School or Citywide Complaint       364558              100.00  float64
22                    Vehicle Type       364558              100.00  float64
23            Taxi Company Borough       364558              100.00  float64
24           Taxi Pick Up Location       364558              100.00  float64
25             Bridge Highway Name       364261               99.92      str
26        Bridge Highway Direction       364261               99.92      str
27                       Road Ramp       364296               99.93      str
28          Bridge Highway Segment       364296               99.93      str
29                 Garage Lot Name       364558              100.00  float64
30                 Ferry Direction       364557              100.00      str
31             Ferry Terminal Name       364556              100.00      str
32                        Latitude         4030                1.11  float64
33                       Longitude         4030                1.11  float64
34                        Location         4030                1.11      str

In [9]:
# As we can see, there are many columns with too many missing values. Let's drop the cols with missing values of more than 50%

# Let's filter the column names
cols_to_drop=missing_df[missing_df["percentage_missing"]>50]["col_name"].values.tolist()
cols_to_drop

['Intersection Street 1',
 'Intersection Street 2',
 'Landmark',
 'School or Citywide Complaint',
 'Vehicle Type',
 'Taxi Company Borough',
 'Taxi Pick Up Location',
 'Bridge Highway Name',
 'Bridge Highway Direction',
 'Road Ramp',
 'Bridge Highway Segment',
 'Garage Lot Name',
 'Ferry Direction',
 'Ferry Terminal Name']

In [10]:
# Let's drop these columns

df=df.drop(cols_to_drop, axis=1)

In [11]:
missing_values_table(df)

                          col_name  num_missing  percentage_missing    dtype
0                      Closed Date         2381                0.65      str
1                       Descriptor         6501                1.78      str
2                    Location Type          133                0.04      str
3                     Incident Zip         2998                0.82  float64
4                 Incident Address        51699               14.18      str
5                      Street Name        51699               14.18      str
6                   Cross Street 1        57188               15.69      str
7                   Cross Street 2        57805               15.86      str
8                     Address Type         3252                0.89      str
9                             City         2997                0.82      str
10                   Facility Type         2389                0.66      str
11                        Due Date            3                0.00      str
12  Resolution Action Updated Date         2402                0.66      str
13      X Coordinate (State Plane)         4030                1.11  float64
14      Y Coordinate (State Plane)         4030                1.11  float64
15                   School Region            1                0.00      str
16                     School Code            1                0.00      str
17                      School Zip            1                0.00      str
18                        Latitude         4030                1.11  float64
19                       Longitude         4030                1.11  float64
20                        Location         4030                1.11      str

In [12]:
# Now we can see, that we have dropped the columns with very high missing values

# The remaining columns with null values can be imputed with either mean, median or mode. Let's start with "Closed Date"
df["Closed Date"].unique()

<StringArray>
['01/01/2016 12:55:15 AM', '01/01/2016 01:26:57 AM', '01/01/2016 04:51:03 AM',
 '01/01/2016 07:43:13 AM', '01/01/2016 03:24:42 AM', '01/01/2016 01:50:11 AM',
 '01/01/2016 01:53:54 AM', '01/01/2016 01:42:54 AM', '01/01/2016 08:27:32 AM',
 '01/01/2016 01:17:40 AM',
 ...
 '01/01/2015 12:56:37 AM', '01/01/2015 02:42:23 AM', '01/01/2015 01:17:43 AM',
 '01/01/2015 06:05:18 AM', '01/01/2015 12:43:41 AM', '01/01/2015 01:22:10 AM',
 '01/01/2015 10:22:31 AM', '01/01/2015 02:25:02 AM', '01/01/2015 12:20:33 AM',
 '01/01/2015 02:42:22 AM']
Length: 339838, dtype: str

In [13]:
# Let's convert this column to datetime and drop the rows null values
df["Closed Date"]=pd.to_datetime(df["Closed Date"], format="%m/%d/%Y %I:%M:%S %p", errors="coerce")

In [14]:
df["Closed Date"]

0        2016-01-01 00:55:15
1        2016-01-01 01:26:57
2        2016-01-01 04:51:03
3        2016-01-01 07:43:13
4        2016-01-01 03:24:42
                 ...
364553   2015-01-01 10:22:31
364554   2015-01-01 02:25:02
364555   2015-01-01 00:20:33
364556   2015-01-01 02:42:22
364557   2015-01-01 02:47:50
Name: Closed Date, Length: 364558, dtype: datetime64[us]

In [15]:
df=df.dropna(subset=["Closed Date"])

In [16]:
df["Closed Date"].isnull().sum()

np.int64(0)

In [17]:
missing_values_table(df)

                          col_name  num_missing  percentage_missing    dtype
0                       Descriptor         6496                1.78      str
1                    Location Type          130                0.04      str
2                     Incident Zip          675                0.19  float64
3                 Incident Address        51686               14.18      str
4                      Street Name        51686               14.18      str
5                   Cross Street 1        55331               15.18      str
6                   Cross Street 2        55464               15.21      str
7                     Address Type          929                0.25      str
8                             City          674                0.18      str
9                    Facility Type           18                0.00      str
10                        Due Date            1                0.00      str
11  Resolution Action Updated Date           39                0.01      str
12      X Coordinate (State Plane)         1707                0.47  float64
13      Y Coordinate (State Plane)         1707                0.47  float64
14                   School Region            1                0.00      str
15                     School Code            1                0.00      str
16                      School Zip            1                0.00      str
17                        Latitude         1707                0.47  float64
18                       Longitude         1707                0.47  float64
19                        Location         1707                0.47      str

In [19]:
# On the basis of visual inspection, rows with null values need to be dropped

df=df.dropna()

In [20]:
missing_values_table(df)

Empty DataFrame
Columns: [col_name, num_missing, percentage_missing, dtype]
Index: []